button { 
    width: 100%; 
    height: 100%; 
    font-size: 5em !important;
    border: 1px;
    transition: 450ms ease;
}

#default {
    background-color: #ec7df6;
    color: whitesmoke;
}

#default:hover {
    background-color: #99549f;
    box-shadow: inset 1em 1em 1.25em #80278a;
}

#success {
    box-sizing: border-box;
    background-color: #00d68f;
    color: rgb(55, 55, 55);
    box-shadow: inset 2em 2em 2em #24f3ca;
}

#success:hover {
    box-shadow: inset 1.5em 1.5em 2em #056b49;
    color: #fff;
}

#info {
    box-sizing: border-box;
    background-color: #0095ff;
    color: rgb(55, 55, 55);
    box-shadow: inset 2em 2em 2em #42aaff;
}

#info:hover {
    box-shadow: inset 1.5em 1.5em 2em #0057c2;
    color: #fff;
}